/* 
    Document   : template
    Created on : 31/01/2013, 01:45:07 PM
    Author     : Edison Ataucusi R. <ediar89@gmail.com>
    Description:
        ...
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background: url('../img/body.jpg');
    font-family: 'Signika Negative', sans-serif;
    font-size: 62.5%;
}

h2{
    font-size: 2em;
    margin-bottom: 5px;
}
h2 img{
    float: left;
}
h3{
    font-size: 1.4em;
}
h4{
    font-size: 1.1em;
}
h5{
    font-size: 1em;
}
a{
    text-decoration: none;
    color: #2570BB;
}
a:hover{
    text-decoration: underline;
}
p{
    padding: 5px 0;
}
.contenedor{
    width: 900px;
    margin: 0 auto;
}
.envoltura{
    box-shadow: 0 0 100px #000;
    background: url('../img/noise.png') #555;
}
.clear {
    clear: both;
}

#capa{
    font-size: 1.5em;
}
.no-js{
    background: #FFF9D7;
}
.no-js img{
    float: left;
    margin: 6px;
    height: 16px;
    width: 16px;
}
.no-msie{
    display: none;
}
/*  cabecera { */
#cabecera{
    background: url('../img/noise.png') #363636;
    line-height: 40px;
}
#yo{
    float: left;
    color: #FFF;
}
#social{
    list-style: none;
    float: right;
    border-right: 1px solid #555;
}
#social li{
    float: left;
}
#social a{
    display: block;
    width: 50px;
    height: 40px;
    border-left: 1px solid #555;
}
#social img{
    width: 20px;
    height: 20px;
    margin: 10px 0 0 15px;
}
#social a{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#social a.facebook:hover{
    background-color: #3B5998;
}
#social a.twitter:hover{
    background-color: #2DADDC;
}
#social a.google:hover{
    background-color: #D14836;
}
#social a.youtube:hover{
    background-color: #AF2B26;
}
#social a.linkedin:hover{
    background-color: #39C;
}
#social a.vimeo:hover{
    background-color: #4bf;
}
#social a.home:hover{
    background: #CC5C01;
}
#social a.login{
    width: auto;
    padding: 0 8px;
    color: #DDD;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}
#social a.login:hover{
    background: #D14836;
    text-decoration: none;
}
#mi-perfil:hover{
    background: #D14836;
}
#social a.usuario img{
    width: 30px;
    height: 30px;
    margin: 3px 0 0 8px;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px #D14836;
    
}
#mi-perfil .alert{
    position: absolute;
    width:  202px;
    margin: 0 0 0 -145px;
    display: none;
}
.alertup { 
  border-bottom: 12px solid #111;
  border-left: 12px dotted transparent;
  border-right: 12px dotted transparent;
  height: 0; width: 0; 
  z-index: 10;
  margin-left: 160px;
}
.alertup1 {  
  border-bottom: 10px solid #FFF;
  border-left: 10px dotted transparent;
  border-right: 10px dotted transparent;
  position: relative;
  top: 3px;
  left: -10px;
  z-index: 11;
}
.alerttxt {
  background-color: #FFF;
  border: solid 2px #333;
  color: #000000;
  padding: 10px;
  position: relative;
  text-align: justify;
  top: -1px;
  z-index: 9;
  border-radius: 5px;
  box-shadow: 0 0 2px #333;
}
.alerttxt h5{
    margin-bottom: 5px;
    word-break: break-all;
    color: #333;
}
#mi-perfil img{
    height: 64px;
    width: 64px;
    margin: 0 10px 0 0;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px #555;
    border: 2px solid #FFF;
}
#mi-perfil .alerttxt{
    line-height: 1;
}
#mi-perfil .mi-perfil-op{
    width: 100px;
    float: right;
}
#mi-perfil .alert a{
    margin: 0;
    padding: 5px 10px;
    border: 0;
    width: auto;
    height: auto;
    border-radius: 5px;
    text-align: center;
}
#mi-perfil .alert a:hover{
    background: #0A6C87;    
    color: #FFF;
    text-decoration: none;
}

/*  cabecera } */
/*  cuello { */
#cuello{
    background: #FFF;
    
}
#logo {
padding: 10px; 
}
#logo a{
    display: block;
    height: 110px;
    width: 110px;
    float: left;
}
#logo img{
    border-radius: 5px;
}
#logo H4{
    float: left;
    margin: 10px 0 0 10px;
}
#logo #banner{
    float: right;  
}
#menu {
    color: #333;
    text-align: justify;
}
#menu .menu{
    padding: 5px 10px;
    background: #333;
    background: -webkit-linear-gradient(top, #666, #111);
    background: -moz-linear-gradient(top, #666, #111);
    background: linear-gradient(top, #666, #111);
}
#menu .menu > ul {
    list-style: none;    
}
#menu .menu > ul a{
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 5px 15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
#menu .menu > ul > li{
    float: left;
    margin-right: 5px
}
#menu .menu > ul > li > a{
    font-size: 1.3em;
}
#menu .menu > ul > li:hover > a{
    background-color: #0071CC;
    border-color: #003159;
    text-shadow: 1px 1px 2px #333;
    color: #FFF;
}
#menu .menu > ul .expansible ul{
    position: absolute;
    list-style: none;
    display: none;
    box-shadow: 3px 3px 3px #555;
    z-index: 1;
}
#menu .menu > ul .expansible > ul{
    background: #0071CC;
    background: rgba(0, 113, 204, 0.93); 
    width: 140px
}
#menu .menu > ul > .expansible > ul > li{
    position: relative;
}
#menu .menu > ul > .expansible > ul  li  a{
    border-top-color: #54B2FF;
    border-bottom-color: #003159;
    padding: 5px 10px;
}
#menu .menu > ul > .expansible > ul > .expansible:hover > a{
    background: #008DFF url('../img/menu-expansible.png') no-repeat center right;
}
#menu .menu > ul > .expansible > ul > li:hover > a{
    background-color: #008DFF;
    text-shadow: 1px 1px 3px #000;
}
#menu .menu > ul > .expansible > ul > .expansible > ul{
    background: #0071CC;
    background: rgba(0, 113, 204, 0.93);
    top: 0;
    left: 140px;
}
#menu .menu > ul > .expansible > ul > .expansible > ul  li:hover a{
    background: #008DFF;
}
/*  cuello } */
/** slider */
#borde_mostrador {
}
.slide{
    width: 900px;
}
.slider{
    position: relative;
}
.slide img{
    width: 100%;
}
.sliderAnt, .sliderSig {
    position: absolute;
    width: 28px;
    z-index: 10;
    opacity: .2;
    background: url("../img/face.png") no-repeat;
}
.sliderAnt {
    left: 0;
    background-position: center left;
}
.sliderSig {
    right: 0;
    background-position: center right;
}
.sliderAnt:hover, .sliderSig:hover {
    opacity: 1;
}
.target {
    overflow: hidden;
    position: relative;
}
.slides{
    position: relative;
}
.slide {
    float: left;
    line-height: 0;
    display: none;
}
.slide:first-child{
    display: block;
}


#cuerpo{
    line-height: 1.5;
}
/*  izquierda {  */
#izquierda{
    float: left;
    width: 650px; 
    overflow-x: hidden;
}
#izquierda article{
    margin: 10px 0 10px 5px;
    border: 1px solid #333;
}
.correcto{
    border: 1px solid #A2D246;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #EBF8A4;
}
.error{
    border: 1px solid #B67B82;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background: #FFDDDD;
}
.correcto img, .error img{
    float: left;
    margin: 2px 5px 0 -4px;
    height: 16px;
    width: 16px;
}
.error span{
    font-weight: bold;
}
article, aside{
    border-radius: 5px;
    padding: 15px;
    background: #FFF;
    color: #333;
    text-align: justify;
}
article h2{
    color: #0A6C87
}
article .submenu{
    margin-left: 20px;
}
.table{
    border: 1px solid #BEBFB9;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 5px;
}
.table th{
    background: #E1E2DC;
    border: 1px solid #BEBFB9;
    padding: 3px 10px;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: bold;
    word-break: break-all;
}
.table td{
    padding: 5px 10px;
    word-break: break-all;
}
.table td > a{
    display: block;
}
.table tr:nth-child(2n){
    background: #F3F4EE;
}
.table tr:hover{
    background: #DDD;
}
#cuerpoP_tbl{
    width: 98%;
}
.tab{
    width: 25px;
    float: left;
    height: 10px;
}
.txtarea{
    border: 1px solid #555;
}
/*  formularios { */
.form ul{
    list-style: none;
    padding: 0;
}
.form li{
    border-top: 1px dashed #CCC;
    padding: 7px;
}
.form li .span{
    font-style: italic;
    color: #009900;
    font-size: .9em;
    margin-left: 30px;
}
.form label{
    font-weight: bold;
    color: #444;
    display: block
}
.form .in, .form select{
    padding: 5px 8px;
    width: 300px;
}
.form textarea{
    padding: 8px;
    width: 96%
}
.form .in, .form textarea, .form select { 
    border:1px solid #AAA;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius: 3px;
    color: #666;
    background: #FFF;
    padding-right: 10px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    transition: padding .25s;
}

.form .largo{
    width: 95%
}

.form .in:focus, .form textarea:focus {
    background: #FFF; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right: 30px;
}
.form .in:optional:valid, .form select:optional:valid{
    box-shadow: 0 0 3px #5cd053;
    border-color: #28921f;
    color: #222;
}
.form .in:required:valid, .form textarea:required:valid, .form select:required:valid{
    box-shadow: 0 0 3px #5cd053;
    border-color: #28921f;
    color: #222;
}
.form .in:focus:invalid, .form textarea:focus:invalid, .form select:focus:invalid{
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535;
    color: #333;
}

input.submit{
    padding: 8px 25px;
    font-weight: bold;
    line-height: 1;
    color: #444;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #AAA #777;
    background-image: -webkit-linear-gradient(top, #FFF, #BBB);
    background-image: -moz-linear-gradient(top, #FFF, #BBB);
    background-image: linear-gradient(top, #FFF, #BBB);
    border-radius: 3px;
    text-shadow: 0 1px 2px #FFF;
    margin-right: 20px;
    text-align: center;
}
input.submit:hover{
    cursor: pointer;
    text-shadow: 0 0 2px #FFF;
    box-shadow: 0 2px 5px #444;
    color: #2470BD;
    border-color: #AAA #888 #666;
}
input.submit:active{
    opacity: .5;
}
/*  formularios }  */
/*  articulo {  */
.cab_articulo {
    margin-bottom: 10px;
}
.img_articulo {
    height: 106px;
    width: 106px;
    float: left;
    box-shadow: 0 0 1px 2px #888;
    border-radius: 5px;
    background: #FFF;
}
.img_articulo img{
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin: 3px;
}
.tit_articulo {
    float: right;
    width: 490px;
    text-align: right;
}
.tit_articulo h2 {
    line-height: 1.1;
}
.tit_articulo h2 a{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    color: #0A6C87;
}
.tit_articulo h2 a:hover{
    color: #2570BB;
    text-decoration: none;
}
.publicador {
    margin: 10px 0 5px;
}
.autor {
    background: #EEE;
    padding: 1px 15px;
    border: 1px dashed #CCC;
}
.autor a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.fecha {
    color: #2570BB;

}
.res_articulo{
    font-style: italic;
    color: #666;
    margin-top: 10px;
}
.res_articulo.xcate{
    font-style: normal;
    color: #444;
    margin-top: 10px;
    font-size: 1.1em;
}
.soc_articulo{
    text-align: center;
    margin-top: 10px;
}
.soc_articulo.xcate{
    text-align: left; 
    font-style: italic;
    font-size: 1.1em;
}
.soc_articulo span{
    margin: 0 5px;
    font-weight: bold;
}
.ace_articulo{
    margin-top: 20px;
    padding: 10px;
    background: #F5F5F5;
    border-radius: 3px;
    color: #666;
    border: 1px dashed #C8C8C8;
}
.ace_articulo img{
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    box-shadow: 0 0 1px 2px #555;
}
.ace_articulo h4{
    line-height: 1;
}
.ace_articulo p{
    font-size: .9em;
    line-height: 1.2;
}
.cue_articulo{
    margin-top: 10px;
}
.cue_articulo h3{
    padding: 10px 0;
}
.cue_articulo p{
    color: #444;
    padding-bottom: 10px;
}
.cue_articulo ul, .cue_articulo ol{
    margin-left: 30px;
}
.pie_articulo {    
    margin-top: 10px;
    border-top: 1px dotted #555;
}
.pie_articulo a {
    color: #2570BB;
    text-decoration: none;
    font-style: italic;
}
.pie_articulo span {
    margin: 0 5px;
    font-weight: bold;
}
.sugerencia{
    background: #C2DAE1;
    color: #333;
}
.sugerencia h2{
    color: #0A6C87;
    text-shadow: 2px 2px 5px #FFF;
}
.sugerencia ul{
    margin-left: 30px;
}
.sugerencia a{
    color: #111;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px #FFF;
}
.propaganda{
    background: #0A6C87;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px dashed #FFF;
}
.propaganda h3{
    color: #FFF;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}
#comentarios{
    border: none;
    box-shadow: none
}
.comentario{
    font-size: .9em;
    padding: 10px;
    background: #EEE;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #AAA;
}
.com_izq{   
    float: left;
    width: 90px;
    margin: 5px 10px 20px 0;
    text-align: center;
    word-break: break-all;
}
.com_izq h5{
    margin-top: 5px;
    font-size: .9em
}
.com_img{
    height: 70px;
    width: 70px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px #888;
}
.com_img img{
    width: 64px;
    height: 64px;
    margin: 3px;
    border-radius: 3px;
}
.com_txt{
    line-height: 1.3;    
}
.com_txt time{
    font-style: italic;
    color: #555;
}
.com_txt p{
    padding-top: 0;
}
.com_txt .fecha{
    margin-top: 10px;
    text-align: right;
    color: #000;
}
#add-comentario{
}

.cuenta{
    list-style: none;
    margin: 0 0 30px 15px;
}
.cuenta li{
    border-bottom: 1px dashed #CCC;
    padding: 5px 7px;
}
.cuenta label{
    font-weight: bold;
    color: #444;
    display: block;
    font-size: 1.1em;
}
.cuenta span{
   font-size: 1.1em;
}

pre{
    background: #F3F3F3;
    border-radius: 5px;
    box-shadow: 0 0 1px 2px #333;
}

/*  articulo }  */
/*  paginacion {  */ 
#paginacion {
    padding: 10px 0;
    margin-top: 10px;
    background: #EEE;
    border-radius: 5px;
    margin: 0 0 0 5px;
}
#paginacion a{
    color: #444;
    padding: 3px 10px;
    background: #AAA;
    background: -webkit-linear-gradient(top,#FFF,#AAA);
    background: -moz-linear-gradient(top,#FFF,#AAA);
    background: linear-gradient(top,#FFF,#AAA);
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #AAA #777;    
    text-decoration: none;
    margin-right: 3px;
    border-radius: 2px;
}
#paginacion a.texto{
    background: transparent;
    border-color: transparent;
}
#paginacion a.link:hover{
    color: #2570BB;
    box-shadow: 0 5px 10px #444
}
#paginacion a.actual{
    background: #555;
    background: -webkit-linear-gradient(top,#999,#333);
    background: -moz-linear-gradient(top,#999,#333);
    background: linear-gradient(top,#999,#333);
    color: #EEE;
    border-color: #666 #555 #222;
}
/*  paginacion }  */
/*  izquierda }  */

/*  derecha {  */
#derecha{
    float: right;
    width: 230px;  
    margin-bottom: 20px;
    padding: 10px 7px 0 7px;
    border-radius: 0 0 0 5px;
}
.opciones{
    background: #084E67;
    color: #FFF;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #DDD;
}
.opciones ul{
    list-style: none; 
    border-top: 1px solid #333;
    border-bottom: 1px solid #0A6C87;
}

.opciones li  a{
    color: #FFF;
    display: block;
    font-size: 1.2em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-top: 1px solid #0A6C87;
    border-bottom: 1px solid #333;
    padding: 2px 10px;
}
.opciones h3{
    margin-bottom: 5px;
}
.opciones li a:hover{
    color: #D24E33;
    text-shadow: 1px 1px 1px #000;
    background: #0A6C87;
    border-top-color: transparent;
    text-decoration: none;
}
.opciones li.actual a{
    color: #2570BB;
    font-weight: bold;
}
.categorias{
    background: #084E67;
    color: #FFF;
    margin-bottom: 10px;
    box-shadow: 0 0 5px #DDD;
}
.categorias h3{
    margin-bottom: 5px;
}
.categorias ul{
    margin-left: 20px;
}
.categorias > ul{
    border-bottom: 1px solid #0A6C87;
    border-top: 1px solid #333;
}
.categorias li{
    border-top: 1px solid #0A6C87;
}
.categorias li a{
    color: #FFF;
    display: block;
    font-size: 1.2em;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;    
    border-bottom: 1px solid #333;
    padding-left: 10px;
}

.categorias li a:hover{
    color: #000;
    background: #0A6C87;
    border-top-color: transparent;
    text-decoration: none;
}
.interes li{
    line-height: 40px;        
}

.interes li img{
    height: 32px;
    width: 32px;
    float: left;
    margin: 4px 4px 0 0;
    border-radius: 3px;
}
.contador img{
    width: 162px;
    margin: 0 0 0 15px;
}
.opciones.me-gusta{
    overflow: hidden;
}
.buscar{
    margin: 0 -8px;
    background: #FFF;
    border-radius: 3px;
    padding: 3px;
}

/*  derecha }  */


/*  footer {  */
footer{
    background: url('../img/noise.png') #333;  
    border-top: 1px dotted #AAA;
    padding: 40px 0;
    color: #DDD;
}
.col_pie{
    width: 290px;
    float: left;
    padding-right: 30px;
}
.col_pie ul{
    list-style-image: url('../img/check.png');
    margin-left: 32px;
}
.col_pie.contactame ul{
    list-style: none;
    margin-left: 0;
}
.contactame img{
    height: 32px;
    width: 32px;
    float: left;
}
.col_pie li{
    line-height: 32px;    
} 

footer h3{
    margin-bottom: 10px;
}
footer h3 a{
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dotted;
    display: inline;
    padding: 0;
    color: #EEE;
}
footer h3 a:hover{
    text-decoration: none
}
#pie{
    width: auto;
    float: right
}

#pie ul > li  a{
    display: block;
    text-decoration: none;
    color: #CCC;
}
#pie ul a:hover{
    color: #FFF;
    text-decoration: underline;
}
#pie ul{
    margin-left: 20px;
}
#pie .estas-en{
    display: none;
}
/*  footer }  */
#ir-arriba{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
}
#ir-arriba img{
    width: 40px;
}
#cargando{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
    display: none;
}
#marco{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: none;
}
.ventana{
    width: 32px;
    height: 32px;
    margin-top: -100px;
    margin-left: -16px;
    background: #111;
    padding: 0 6px;
    border-radius: 3px;
}